<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Image Segmentation</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div style="background-image: url(data:image/jpeg;base64,{{imgEncode}}); width: 595px;height: 842px;margin: 0 auto;"></div>
</body>
</html>